/*font*/
/* latin-ext */


#templates{
    display: none;
}
/*
    TODO: integration css => css modified class #view, #editor, code_editor.
*/
/*
#view, #editor {
    width: 50%;
}

#view {
    float: right;
}

#editor {
    float: left;
    display: none;
}

#code_editor {
    width:  70%;
    height: 500px;
}
*/
#end_screen {
    font-size: 50px;
}

#code_buttons {
    display: inline-block;
}

#player_buttons {
    display: none;
}

#home_template, #win_template, #end_screen {
    color: white;
    text-align: center;
}



.levelWin {
    color: white;
    margin-left: 0;
    margin-right: 0;
}

.textarea-code {
    height: 90%;
    width: 100%;
    font-size: 20px;
}

.pattern {
    margin: 20px 0;
}

.button {
    display: inline-block;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #ffb100;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    padding: 12px;
    background-color: #2cb6e4;
    border-color: #2cb6e4;
    width: 150px;
    margin: 5px;
}

.questions-separation {
    margin-top: 15px;
}

.img-separation {
    width: 250px;
    height: 70px;
    margin-left: 5px;
}

.challenge.current::after {
  content: "";
  display: block;
  width: 50%;
  margin-top: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #818181;
}


.answer>input {
    border: none;
}

.answer>input:focus {
    outline: none;
}

.answer>.button {
    margin: 0;
    border-radius: 0;
    width: 50px;
    border: none;
}
/*
    TODO: integration css => css modified class user_answer_and_correction.
*/


.answer>input, .answer>.button , .user_answer_and_correction{
    padding: 7px;
}
/*
.user_answer_and_correction {
    height: 50px;
    width: 300px;
    display: inline-block;
    text-indent: 30px;
    line-height: 2.7;
}*/

.arrow-right {
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

/*ANWSER*/
.button {
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;

}
.answer {
    -webkit-transition: border .2s ease-in;
    -moz-transition: border .2s ease-in;
    -o-transition: border .2s ease-in;
    transition: border .2s ease-in;
}

.win .answer input{
  border: 2px solid rgba(36, 220, 97, 0.4);
}

.win .answer .button {
    cursor: default;
    background-color: #00c33c;
}

.lose .answer input{
    border: 2px solid rgba(255, 16, 125, 0.4);
}

.lose .answer .button {
    cursor: default;
    background-color: #e4382d;
}

.too_late .answer input{
    border: 2px solid #949494;
}

.too_late .answer .button {
    cursor: default;
    background-color: #949494;
}



.win .answer .user_answer_and_correction img{
  display: none;
}

th {
    width: 80px;
    border: 1px solid #dddddd;
    padding: 8px;
}


tr .playing {
  opacity: 0.5;
}


/********************************************************** CSS INTEGRATION EN TEST*************************************************************/

@media (max-width: 767px) {
    .container {
        width: 600px;
    }
}
* {
    font-size: 100%;
}
.invisible{
    display: none;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.blue{
    background: blue;
}
.grey{
    background: grey;
}
/*todo: fix this scrollbar X*/
body{
    background: #302051;
    overflow-x: hidden;
}

#challenges_container{
    padding:0;
    position: relative;
    margin-top: 100px;
}

.container.blocContainer{
    margin-top: 50px;
}

.box_shadow_container{
    max-height: 150px;
}

.leftArrow,
.rightArrow{
    min-width:50px;
    height:100px;
    top: 50px;
}

.leftArrow{
    background:#302051 url('../assets/leftArrow.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.rightArrow{
    background:#302051 url('../assets/rightArrow.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}


.exoBloc >div{
    display:flex;
    flex-direction: column;
}





.philterGradient{
    position: absolute;
    top:0;
    left:50%;
    height:100%;
    transform: translateX(-50%);
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#blocChallenge{
    width:100%;
    order:2;
    margin-left: 0;
    margin-right: 0;
}

#challenges_container .wrapChallengeTimeline{
    z-index: 1000;
    padding: 0;
}

#challenges_container .wrapChallengeTimeline.box_shadow_container{
    box-shadow: 1px 0px 0px #C765F4, 1px 0px 0px #C765F4, 1px 0px 0px #C765F4, 0px 3px 10px 3px #C765F4;
}


.exoBloc >div{
    min-height: 100px;
}
/*
#blocChallenge .exoBloc .challenge_question{
    margin-left: 0;
}*/


.challenge_question,
.answer,
.exoBloc >.blocCount,
.exoBloc >.blocQuestion,
.exoBloc >.blocInputAnswer,
.exoBloc >.blocIcon>div{
    margin:auto;
}

.blocIcon>div{
    width:50px;
    height:50px;
    border-radius: 50%;
    background: url('../assets/iconBlack.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.win .blocIcon>div{
    background: url('../assets/iconGreen.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.lose .blocIcon>div{
    background: url('../assets/iconPink.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
/*
.win .exoBloc span{
    color: #00c33c;
}
.lose .exoBloc span{
    color: #e4382d;
}*/

.answer{
    width: 100%;
}
.answer input.user_answer{
    width:100%;
}


button {
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.win .answer button {
    cursor: default;
    background: rgba(36, 220, 97, 0.4);
}

.lose .answer button {
    cursor: default;
    background: rgba(255, 16, 125, 0.4);
}

.answer button{
    flex: 1;
    height:50px;
    float: right;
    border-radius:0;
    background: #470956;
    color: #fff;
}
.answer button:hover{
     color: #fff;
}

#correction_template >div{
    width:100%;
    min-height:50px;
    margin:0 auto;
}


.count{
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #441D77;
    color: #441D77;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Raleway';
    vertical-align: middle;
}
#challenges_container .iconCodeDj{
    top: -93px;
    left: 33px;
    z-index: 1001;
}
/***************** MONDE 2******************/
.iconCodeDj{
    opacity:0.65;
    position: absolute;
    height: 130px;
    width: 130px;
    top: -40px;
    left: -50px;
    background: url(../assets/logo-CodeDJ.png) 50% 50% no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

#view{
    padding-left: 15px;
    padding-right: 15px;
}

.titleBlocMonde2 label{
    display: block;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    position: relative;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 14px;
    color: rgba(61, 255, 239, 0.2);
    vertical-align: middle;
    line-height: 100%;
    width: 100%;
}

.titleBlocMonde2 .mySong{
    top:140px;
}
.titleBlocMonde2 .myCode{
    top:345px;
}

.pattern{
    margin: 0px auto 20px;
    width: 100%;
}

.pattern th{
    font-family: 'Raleway';
    font-weight: 700;
    background:#4E0A63;
    color: #e7e7e7;
    text-align: center;
}


#code_buttons >div,
/*.box_shadow_container,*/
.btn-next,

#code_buttons >div{
    width:50px;
    height:50px;
    margin:0px auto 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    cursor: pointer;
    -moz-box-shadow: 0px 0px 3px 1px #C765F4;
    -webkit-box-shadow: 0px 0px 3px 1px #C765F4;
    -o-box-shadow: 0px 0px 3px 1px #C765F4;
    box-shadow: 0px 0px 3px 1px #C765F4;
}

#code_buttons >div.btn-inactif{
    opacity: 0.2;
}

#btn_search {
    background: url('../assets/iconMagnifier.png');
    background-size: 30px 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;

    position: absolute;
    z-index: 10;
    top: 5px;
    right: 15px;
}

.btn-next{
    opacity : 0.5;
    height:50px;
    background: #f4812b;
    float: right;
    position: relative;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 900;
    margin-bottom: 20px;
    color: #302051;
    border-radius: 8px;
}

.btn-next:active{
    background: rgba(244, 129, 43,0.5);
    color: #fff;
}

textarea{   //TODO FIX ME : code_editor
    color: #fff;
}



/* todo : integration css => temp need to remove after we have the correct color font*/

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #fff;
}




/* Timeline slider */

.timeline-container {
    position: relative;
    top: 0;
    left: 0;
}
